@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap');

html,
body {
  padding: 0 auto;
  margin: 0 auto;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: medium;
}

.bodyPlus {
  font-size: x-large;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.laffable {
  font-family: 'Rock Salt', cursive;
}

.joke {
  margin: auto;
}

.midnight-light {
  background-color: #2f415e;
}

.midnight-dark {
  background-color: #28374f;
}

.nav {
  display: flex;
  border: solid 1px black;
}
.nav > :nth-child(1) {
  margin-right: auto;
}